<h1>出品したい商品の情報を登録してください。</h1>

<%= form_for @item do |f| %>
  <div class="field">
    <%= f.label :商品名 %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :詳細 %><br />
    <%= f.text_field :explanation, autofocus: true, autocomplete: "explanation" %>
  </div>

  <div class="field">
    <%= f.label :金額 %><br />
    <%= f.number_field :price, autofocus: true, autocomplete: "price" %>
  </div>

  <div class="field">
    <%= f.label :商品写真をアップしてください %><br />
    <%= f.file_field :image, autofocus: true, autocomplete: "image" %>
  </div>

  <div class="actions">
    <%= f.submit "出品する" %>
  </div>
<% end %>