<h1>商品の詳細画面になります。</h1>

<% if @item.buyer_id.present? %>
  <button><%= link_to "戻る", purchased_items_mypage_path %></button>
<% else %>
  <button><%= link_to "戻る", root_path %></button>
<% end %>

<%= form_tag(item_cheackout_path, method: :get) do %>
  <%= hidden_field_tag :item_id, @item.id %>
  <div class="field">
    <%= image_tag(@item.image.variant(resize_to_limit: [500, 500])) %>
  </div>

  <div class="field">
    <p>商品名：<%= @item.name %></P>
  </div>

  <div class="field">
    <p>詳細:<%= @item.explanation %></P>
  </div>

  <div class="field">
    <p>金額：<%= @item.price %>円</P>
  </div>

<% end %>

<% if @item.buyer_id.present? %>
  <p>購入済み商品です。</p>
<% else %>
  <h3>チャット</h3>
  <div class="posts">
    <% if @chat.messages.blank? %>
      <p>コメントはありません</p>
    <% else %>
      <% @chat.messages.each do |message| %>
        <p><%= message.user.name %>: <%= message.comment %></p>
      <% end %>
    <% end %>
  </div>



  <div class="posts">
    <%= form_with(url: messages_path, method: :post) do |form| %>

      <%= form.hidden_field :chat_id, value: @chat.id %>
      <%= form.hidden_field :user_id, value: @current_user.id %>

      <%= form.text_field :comment %>
      <%= form.submit "送信" %>
    <% end %>
  </div>

  <%= form_tag(item_cheackout_path(@item), method: :get) do %>
    <%= hidden_field_tag :item_id, @item.id %>

    <% if @address.present? %>
      <h3>住所</h3>
      <% address_text = "#{@address[:postal_code]} #{@address[:address1]} #{@address[:address2]}" %>
      <p><%= address_text %></p>
      <%= radio_button_tag 'selected_address', address_text %>
      この住所を選択する
    <% end %>

    <% if @second_address.present? %>
      <h3>サブ住所</h3>
      <% second_address_text = "#{@second_address[:second_postal_code]} #{@second_address[:second_address1]} #{@second_address[:second_address2]}" %>
      <p><%= second_address_text %></p>
      <%= radio_button_tag 'selected_address', second_address_text %>
      このサブ住所を選択する
    <% end %>

    <br /><br />
    <%= submit_tag '購入する' %>
  <% end %>
<% end %>


