<h1>商品の詳細画面になります。</h1>
<button><%= link_to "戻る", request.referer || root_path %></button>

<%= form_tag(item_cheackout_path, method: :get) do %>
  <%= hidden_field_tag :item_id, @item.id %>
  <div class="field">
    <%= image_tag(@item.image.variant(resize_to_limit: [500, 500])) %>
  </div>

  <div class="field">
    <p>商品名：<%= @item.name %></P>
  </div>

  <div class="field">
    <p>詳細:<%= @item.explanation %></P>
  </div>

  <div class="field">
    <p>金額：<%= @item.price %>円</P>
  </div>

<% end %>


<%= form_tag(item_cheackout_path(@item), method: :get) do %>
  <%= hidden_field_tag :item_id, @item.id %>
  <%= submit_tag '購入する' %>
<% end %>



