<h1>サブ住所の新規登録</h1>

<button><%= link_to "戻る", root_path %></button>

<%= form_with model: @secondaddress, url: secondaddresses_path do |f| %>
  <div class="field">
    <%= f.label :郵便番号（ハイフンは除いて） %><br />
    <%= f.text_field :second_postal_code %>
  </div>

  <div class="field">
    <%= f.label :市区町村まで入力 %><br />
    <%= f.text_field :second_address1 %>
  </div>

  <div class="field">
    <%= f.label :番地（建物名・部屋番号） %><br />
    <%= f.text_field :second_address2 %>
  </div>

  <%= f.submit "登録" %>
<% end %>
